* {
  box-sizing: border-box;
}
header {
	background-color: #e6e6e6;
	border: 2px solid gray;
	height: 200px;
	margin: 5% 5% 0px 5%;
}
main {
	background-color: #e6e6e6;
	border: 2px solid gray;
	width: 60%;
	height: 500px;
	margin: 2% 2% 2% 5%;
	float: left;
}
aside {
	background-color: #e6e6e6;
	border: 2px solid gray;
	width: 27.3%;
	height: 500px;
	margin: 2% 5% 2% 0%;
	float: left;
}
footer {
	background-color: #e6e6e6;
	border: 2px solid gray;
	height: 200px;
	margin: 2% 5% 2% 5%;
	clear: both;
}